.govno a{
    
    margin: 20px;
}
.govno a:visited {
    text-decoration: none;
    font-size: 10mm;
    color: rgb(194, 27, 27);
    font-family: 'Courier New';
}
.govno a:hover {
    text-decoration: none;
    font-size: 10mm;
    color: rgb(35, 224, 51);
    font-family: 'Courier New';
}
.govno a:active {
    text-decoration: none;
    font-size: 10mm;
    color: rgb(48, 35, 224);
    font-family: 'Courier New';
}
.govno a:link {
    text-decoration: none;
    font-size: 10mm;
    color: rgb(238, 215, 12);
    font-family: 'Courier New';
}

.rapper {
    position: relative;
}
.dno {
    position: relative;
    width: 1920px;
    height: 1080px;
    z-index: 1;
    background: rgb(228, 22, 15);
}
.ssanina {
    position: absolute;
    width: 800px;
    height: 300px;
    z-index: 3;
    opacity: 0.5;
    background: royalblue;
    top: 0px;
    left: 400px;
}
.huyjackman {
    position: absolute;
    width: 700px;
    height: 600px;
    z-index: 2;
    background: purple;
    top: 69px;
    left: 15vw;
}